@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.container{
  background:var(--primary-color-linear);
}

.left-box img{
height: 70px;
width: 70px;
margin: 0;

}
.left-box p{
font-size: 18px;
display: flex;
font-family:Arial, Helvetica, sans-serif;
font-weight: bolder;
margin-left: 5px;
color: #00acee;
}
.left-box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 15px;
}
#userInfoBox {
  display: none;
  position: absolute;
  top: 100%;
  left: 7%;
  background: var(--primary-color-linear);
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  width: 300px;
  z-index: 999;
  margin-top: 5px;
  border-radius: 10px;
 
}
#userInfoBox span:hover {
text-decoration: underline;
text-shadow: #ccc 6px 6px 6px;
cursor: pointer;
}
#userInfoBox.show {
  display: block;
}
#usernameButton {
  border: none;
  background: none;
  cursor: pointer;
}
.companyInfo{
width: 100%;
height: 100px;
border-bottom: solid 1px #00acee;
border-top: solid 1px #00acee;
display: flex;
flex-direction: column;
text-align: left;
justify-content: space-around;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.userInfo{
width:100%; 
height: 200px;
display: flex;
flex-direction: column;
text-align: left;
justify-content: space-around;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}
.header{
padding: 5px;
width: 99%;
}

.features{
width: 100%;
height: 600px;
display: flex;
flex-direction: column;
margin: 10px;
}
.digitalClockFrame{
width: 100%;
border:  2px solid #00acee;
display: flex;
align-items: center;
justify-content: center;
height: 30%;
border-radius: 10px;
background: var(--primary-color-linear);
font-size: 7rem;
text-shadow: 3px 2px gray;
font-weight: bold;
font-family:  "Quicksand", sans-serif;

}
.buttons{
width: 100%;
height: 180px;
align-items: center;
justify-content: center;
display: flex;
border-top: none;
flex-direction: column;
}
.buttons .btn-box{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
}
.btn-box button{
border: none;
background-color: #00acee;
color: #ececec;
font-size: 1.7em;
font-family:"Quicksand", sans-serif ;
border-radius: 10px;
padding: 10px 20px;
cursor: pointer;
height: 80px;
transition: 0.5s ease-in;
filter: brightness(95%);
opacity: 0.8;
width:200px;
margin: 5px;
}
.btn-box button:hover{
border: solid 2px black;
box-shadow: 5px 5px gray;
color: #fffefe;
filter: brightness(100%);
opacity: 1;
}

.timeBox{
font-size: 1.8rem;
height: 80px;
padding: 50px;
margin: 30px;
}
.timeBox p{
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #00acee;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.table{
width: 99%;
height: auto;
background:var(--primary-color-linear);
margin: 5px;
}
table, th, td {
  border:1px solid #00acee;
  
}
table{
width: 100%;
text-align: center;
}
table th{
  height: 80px;
  font-size: 2rem;
  font-family:"Quicksand", sans-serif ;
  text-align: center;
}
