body{
scroll-behavior: smooth;
padding: 0;
margin: 0;
align-items: center;
background-color: #1d1a39;
}
#header{
margin:10px;
border-bottom: solid 2px #fff;
border-top: solid 2px #fff;
}
.box{
  min-height: 50px;
  font-size: 2rem;
  
  }
   .col{
  background-color: #1d1a39;
   border: none;
   min-height: 170px;
   display: flex;
   align-items: center;
   padding: 25px;

  }
  
  .col h1 ,h3{
    font-family: 'Bebas Neue', sans-serif; 
    color: #fff;

  }
  .container{
  display: flexbox;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 15px;
  position: absolute;
  width: 100%;
  
  }
  .container .col{
   border: solid #1d1a39 0.5px; 
   min-height: 400px;
   min-width: 275px;
   border-radius: 15px;
  }

  a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  margin: 10px;
  transition: all 0.5s ease-in-out;
  margin-left: 25px;
  }
  a:hover{
  color: whitesmoke;
  margin-left: 30px;
  text-shadow: 3px 4px 0px lightgreen;
  }

#right-box{

background-position: right;
background-size: contain;
background-repeat: no-repeat;
border: solid 1px black;
height: 150px;
width: 150px;
border-radius: 15px;
}

#loginContainer{
  background-position:center ;
  background-size: contain;
  background-repeat:  no-repeat;
  width: 100%;
  margin-left: 110px;
  background-color: #1d1a39;
}

.login-box{
justify-content: center;
padding: auto;
display: flex;
align-items: center;
border: solid 1px white;
box-shadow: 2px 2px 8px 2px white;
width: 70%;
padding: 20px;
margin-left: 30%;
border-radius: 25px;
}
.login-right-box{
width: 50%;
margin-left: 25px;
height: 300px;
text-align: center;
}
.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-top: 25px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(248, 53%, 58%);
  padding: 16px 32px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

  .input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    margin: 15px;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 2px 2px 20px #969696,
               -2px -2px 20px #ffffff;
  }

.clock{
position: relative;
width: 150px;
height: 150px;
background-color: #e8bcb9;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 15),
inset 15px 15px 10px rgba(255,255,255,0.75),
-10px -10px 35px rgba(255,255,255,0.55),
inset -1px -1px 10px rgba(0,0,0,0.2);
border-radius: 15px;
}
.clock::before{
content: "";
position: absolute;
width: 1px;
height: 1px;
background-color: #e91e63;
border-radius: 50%;
z-index: 10;
box-shadow: 0 0 0 1px #e91e63,
0 0 0 3px #fff,
0 0 5px 5px rgba(0, 0, 0, 15);
}
.clock .numbers{
position: absolute;
inset: 12px;
background-color: #1d1a39;
border-radius: 50%;
box-shadow: 5px 5px 15px #1d1a39,
inset 5px 5px 5px rgba(255, 255,255 , 0.75),
-6px -6px 10px rgba(255, 255, 255, 1);
;

}
.clock .numbers span{
position: absolute;
inset: 1px;
text-align: center;
color: #e8bcb9;
font-size: 0.5em;
transform: rotate(calc(90deg * var(--i)));

}
.clock .numbers span b{
font-weight: 600;
display: inline-block;
transform: rotate(calc(-90deg * var(--i)));
}

.clock .numbers::before{
content: '';
position: absolute;
inset: 35px;
background:linear-gradient( #662549, #f39f5a);
border-radius: 50%;
animation: animate 2s linear infinite;
}
@keyframes animate {
0%
{
transform: rotate(360deg);
}
100%{
transform: rotate(0deg);
}
}
.clock .numbers::after{
  content: '';
  position: absolute;
  inset: 38px;
  background:#152b4a;
  border-radius: 50%;

  }

  .clock .numbers .circle{
  position: absolute;
  inset: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.clock .numbers .circle i{
position: absolute;
width: 3px;
height: 50%;
background-color: #e8bcb9;
transform-origin: bottom;
transform:scaleY(0.55);
}

.clock .numbers .circle#hr i 
{
transform: scaleY(0.3);
width: 4px;
}
.clock .numbers .circle#mn i {
transform: scaleY(0.45);
}
.clock .numbers .circle#sc i {
  width: 2px;
  transform: scaleY(0.55);
  background:#e91e63;
  box-shadow: 0 30px 0 #e91e63;
  }
  #clock-box{
   background-color: #f39f5a;
   padding: 45px;
   height: 500px;
   justify-content: center;
   align-items: center;
   width: 500px;
   margin-left: 100px;
   margin-right: -100px;
   border: solid 1px black;
   border-radius: 25px;
  }
  #slide-box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    width: 900px;
    background-color: #1d1a39;
    margin-left: 300px;
    border: solid white 1px;
    border-radius: 25px;
  
  }
  #carouselExample{
  border: solid black 1px;
  
  }
  #footer{
   justify-content: space-between;
   min-height: 150px;
   border: none;
   border-top: solid #fff;
   background-color: #1d1a39;
   width: 100%;
   margin-left: 20%;
   margin-right: -10%;
  }
  .left-footer{
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  padding: 40px;
  padding-top: 0;
  color: white;
  }
  .left-footer img{
  height: 60px;
  width: 60px;
  }
  .left-footer a{
  margin: 0;
  color: white;
  }
  .right-footer{
  float: right;
  padding: 15px;
  }
  

  .card {
    width: fit-content;
    height: fit-content;
    background-color: #1d1a39;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    border: none;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(22, 37, 113);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    margin: 30px;
    border: #fff solid 1px;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .4s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }

  /* github*/
  .containerThree:hover{
    background-color: #011612;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .registrationOverlay{
    width:100%;
    position:fixed;
    left:0;
    top:0;
    height:100vh;
    background-color: #152b4a;
    z-index:-1;
    opacity:0;
     }
     .showRegisterForm{
      top:50%;

  }
   .showOverlay{
     opacity:0.7;
     z-index:10;
     transition: opacity 1s;
    }
  .registrationFormContainer {
    width: 500px;
    border: solid 2px white;
    z-index:11;
    top: 50%;
    left: 20%;
    position: fixed;
    background: linear-gradient(to right top, white,#1d1a39);
    border-radius: 25px;
    box-shadow:0px 0px 10px 3px white;
    transform: translate(50%,  -50%);    
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
 
  .registerTitle{
  color: white;
  }
  #X{
    color: white;
    font-size:2em ;
  }
  #X:hover{
    color: #e91e63;
    font-size:2em ;
    cursor: pointer;
  }
  .showButton{
  border: none;
  background-color:#1d1a39;
  font-size: 1em;
  color: white;
  margin-top: 25px;
  margin-left: 25px;
  }
  .showButton:hover{
  text-decoration: underline;
  }
  #notification-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 1000;
    overflow: hidden;
    margin-top: 25px;
}

#notification-box {
    background-color: #e91e63;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif; ;
    border-radius: 8px;
    font-size: 1.5em;
    padding: 10px;
    display: none;
    animation: slideDown 0.5s ease-in-out, slideUp 0.5s ease-in-out 9.5s forwards; 
    
}

@keyframes slideDown {
    from {
        margin-top: -50px; /* Start from above the viewport */
    }
    to {
        margin-top: 0; /* Slide down to the top */
    }
}

@keyframes slideUp {
    from {
        margin-top: 0; /* Start from the top */
    }
    to {
        margin-top: -50px; /* Slide up above the viewport */
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}